<head>
    <style>
        th{ 
    padding: 10px;
    background-color: orangered;
    color:black;
        }
        .new{
            color: black;
        }
        .new:hover{
            color: white;
        }
        k{
            color: black;
        }
        user
        {
            text-decoration: underline;
            cursor: context-menu;
        }
    </style>
</head>
<body ng-app='newangularprojectApp'>
    <!--div>
        <input type="text" ng-model="name" >
        <button ng-click="save()">Save</button>
        <button ng-click="load()">Load</button>
        <br>
        {{data}}
    </div->
    <p></p>
    <!form>
        <div class="form-group">
                <label for="time">Enter your Name</label>
                <input type="text" class="form-control" ng-model="name" >
        </div>
        <div class="form-group">
                <label for="time">Click To Save Data:</label>
                <button class=" btn" ng-click="save()">Save</button>
                &nbsp; &nbsp; &nbsp; &nbsp;
                <label for="time">Click To Load Data:</label>
                <button class=" btn" ng-click="load()">Load</button>
        </div>
        <div class="form-group" >

        </div>
        <hr>
        <div class="form-group">
                <label for="time">Click To Count:</label>
                <button ng-click="clickCounter()" class="btn" type="button">Click me!</button>
        </div>
    </form-->
    <!-- <button ng-click="displaydata()">ClickMe</button> -->
    <div class="container">
            <table class="table">
              <thead>
                <tr>
                  <th>&nbsp;&nbsp;<a class="new" ng-model="new" ng-init="displaydata()">new</a>  &nbsp;&nbsp;
                    |&nbsp;&nbsp;<a class="new" ng-href="#">commment</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;<a class="new" ng-href="#">show</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;<a class="new" ng-href="#">ask</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;<a class="new" ng-href="#">job</a>
                  </th>
                
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in datatodisplay | limitTo:limit" class="datatodisplay" >
                        
                            <td><a ng-href="{{data.url }}" target="blank"> {{data.title}}</a>
                                <br>{{data.score}}point{{geturl(data.url)}}
                                by &nbsp;
                                <a class="user" ng-model="new" ng-href="#!/userdetail/{{data.by}}">{{data.by}}</a>
                                at &nbsp;{{data.time| date:"MMM d, y h:mm:ss a"}}&nbsp;
                            </td>
                    </tr>
                </tbody>
                </table>
                <button style="width:120px;text-align:center;margin:auto" class="more btn btn-primary btn-block" ng-click="loadMore()">Load More!</button>
    </div>
</body>
